
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1{
    width: 60%;
    margin: 0 auto;
    text-align: center;
   
}

.logo{
    width: 200px;
    padding-top: 10px;
}

.logo img{
    width: 100%;
}
.errore{
    color: red;
    display: none;
}
input{
    color: rgb(88, 83, 83);
    border-color: #F8F6FA;
    padding-left: 20px;
}
input, .bottone{
    border-radius: 9px;
}

::placeholder{
    font-size: 10px;
    font-weight: bold;
}
.bottone{
    margin: 20px;
}
.aggiungi{
    font-size: 10px;
}
.container2{
    background-color: #F8F6FA;
    border-radius: 10px;
    padding: 30px 30px 0 15px;
    
}
ul > li{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(99, 91, 91, .3);
}
li:last-child{
    border: none;
}
.fa-times{
    color: rgb(173, 169, 169);
}
.fa-times:hover{
    color: red;
    cursor: pointer;
}